<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="list-style: ;">
        <ul>
            <li><a href="https://facebook.com">facebook</a></li>
            <li><a href="http://linkedin.in">linkedin</a></li>
            <!-- <li><a href="http://google.com"></a>Google</li> -->
            <li><a href="https://bootstrap.com">bootstrap</a></li>
            <li><a href="http://gmail.com">gmail</a></li>
        </ul>
    </div>
    <div>
        <header>{{name}}.ltd</header>
        <article>
            <p>
                The {{name}} company is established in the year {{year}} and
                {{name}} company is having more than {{year}} employees and,
                in {{year}} company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
                The POP company is established in the year 2000 and
                POP company is having more than 1000 employees and,
                in 2000 company got hugee shares. POP got more popular
            </p>
        </article>
    </div>
    
</body>
</html>
